

#display{
/* 	display: inline-block; */
/*     height: 900px; */
/*     min-height: 900px; */
/*     width: 700px; */
/*     max-width: 700px; */
	display: none;
    vertical-align: top;
}
/* #display > div{ */
/* 	height: 210px; */
/* } */
/* #imagemap-container{ */
/*     display: inline-block;	 */
/* } */

.italic{
	font-style: italic;
}

#sector_title_description{
	padding-bottom: 5px;
}

#rating{
	height: 30px;
}

/* svg */
#svg_compass{
	position: absolute;
    top: 9px;
    left: 9px;
    width: 1152;
    height: 900px;
    z-index: -1;
}
.svg_hide{
	fill: none;
}
.svg_show.q1{
	fill: lightgreen;
}
.svg_show.q2{
	fill: lightblue;
}
.svg_show.q3{
	fill: lightpink;
}
.svg_show.q4{
	fill: lightyellow;
}


/* #svg_compass > polygon{ */
/* 	fill: none; */
/* } */